#signup-area .signup-bg {
    margin: 0;
    padding: 0;
    background-image: url("/storage/img/background.png");
    background-repeat: repeat-y;
}

#signup-area .signup-form-bg {
    margin-top: 150px;
    margin-bottom: 70px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
}

#signup-area .signup-form-logo {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 80px;
    width: 200px;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-area .signup-form-logo img {
    position: relative;
    width: 150px;
}

#signup-area .form-links {
    color: var(--main-color);
}

#signup-area .form-control  {
    height: 40px;
    border-radius: 10px;
}

#signup-area .form-label {
    margin-top: 5px;
}

.required {
    color: red;
    font-weight: bold;
}

#signup-area .form-label {
    font-family: 'Familjen Grotesk', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#signup-area button {
    margin-bottom: 20px;
}

