  /*----------------------------------- GERAL -----------------------------------*/
  .container {
    padding: 30px 0px;
  }

  .container4 {
    margin-top: 0px;
  }

  /*----------------------------------- SLIDER -----------------------------------*/
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: auto;
    margin-top: 15px;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .carousel-caption {
    margin-top: -40px;
  }

  /*----------------------------------- NAVIGATION-BAR -----------------------------------*/
  #logo {
    width: 180px;
  }

  #LogoU {
    width: 50px;
    display: none;
  }

  .navbar-toggler {
    position: absolute;
    right: 0;
    margin-right: 16px;
  }

  /*----------------------------------- ABOUT -----------------------------------*/
  .main-title {
    font-size: 30px;
  }

  #about-area img {
    margin-top: 0;
    margin-bottom: 30px;
  }

  /*----------------------------------- TEAM -----------------------------------*/
  #team-area .col-md-4 {
    width: 50%;
    margin-bottom: 15px;
    padding: 7px;
    position: relative;
    margin: auto;
    text-align: center;
  }

  #team-area .card-body {
    padding: 10px;
  }

  #team-area .team-img {
    width: 28px;
  }

  #team-area h5 {
    font-size: 16px;
  }

  #team-area p {
    font-size: 12px;
  }

  /*----------------------------------- LOADING -----------------------------------*/
  #text-area .filter-loading-btn {
    color: #444;
    border: 1px solid #444;
    background-color: transparent;
    text-transform: none;
    margin: 0 5px;
    margin-bottom: 10px;
    min-width: 40px;
    width: auto;
    height: 35px;
    line-height: 25px;
    padding: 0 10px;
    font-size: 10 px;
  }
  
  #ver-alunos-btn, #ver-egressos-btn {
    position: relative;
    display:  none;
    margin: auto;
    text-align: center;
  }


  /*----------------------------------- FILTER (ALUNOS E EGRESSOS) -----------------------------------*/
  #alunos-area .main-title {
    margin-bottom: 40px;
  }
  #alunos-area .filter-alunos-btn {
    color: #444;
    border: 1px solid #444;
    background-color: transparent;
    text-transform: none;
    margin: 0 5px;
    margin-bottom: 10px;
    min-width: 40px;
    width: auto;
    height: 35px;
    line-height: 25px;
    padding: 0 10px;
    font-size: 10 px;
  }

  #alunos-area .container3 {
    margin: 70px 0px 0px 0px;
    padding: 10px;
  }

  #filter-alunos-btn-box {
    margin-bottom: 20px;
  }

  .project-alunos-box {
    margin-bottom: 35px;
  }